<% wrap_layout :layout do %>
  <%= yield %>
  <% if paginate && num_pages > 1 %>
    <p class="center">
      <% if prev_page %>
        <%= link_to 'previous page  ', prev_page.url %>
      <% end %>
      Page <%= page_number %> of <%= num_pages %>
      <% if next_page %>
        <%= link_to '  next page', next_page.url %>
      <% end %>
    </p>
  <% end %>
<% end %>
