---
pageable: true
per_page: 10
title: Jan Hovancik
layout: blog_layout
---

<% page_articles.each_with_index do |article, i| %>
  <article>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h1>

    <%= article.summary %>

    <a href="<%= article.url %>">Read more</a>
  </article>
<% end %>