---
pageable: true
per_page: 5
title: Jan Hovancik 
layout: blog_layout
---
<h1>Articles tagged with '<%= tagname %>'</h1>

<% page_articles.each_with_index do |article, i| %>
  <article>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
    </h1>
    <small>Posted under 
      <% article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %> on 
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </small>

    <%= article.summary %>

    <a href="<%= article.url %>">Read more</a>
  </article>
<% end %>
